{% load static %}
<div class="row media d-flex flex-wrap border rounded mt-1">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{{ answer.author.avatar.url}}" class="image-format mb-2" alt="...">
        {% block likes %}
            {% include 'likes.html' with type="answer" pk=answer.pk rating=answer.rating %}
        {% endblock %}
	</div>
	<div class="media-body px-1">
		<p>{{ answer.answer_text }}</p>
		<div class="row">
            <div class="d-flex flex-row">
                {% if question.author == request.user.profile %}
                    <input class="js-correct" type="checkbox" data-id="{{ answer.pk }}"  id="correct-{{ answer.pk }}" {% if answer.is_correct %} checked {% endif %}>
                    <label class="form-check-label" for="correct-{{ answer.pk }}">Correct!</label>
                {% else %}
                    <input type="checkbox" data-id="{{ answer.pk }}"  id="correct-{{ answer.pk }}" {% if answer.is_correct %} checked {% endif %} disabled>
                    <label class="form-check-label" for="correct-{{ answer.pk }}">Correct!</label>
                {% endif %}
            </div>
        <div>
        </div>
		</div>
	</div>
</div>