{% load static %}
<div class="row media d-flex flex-wrap content-mainbox mt-2">
	<div class="d-flex px-1 mr-4 flex-column">
		<img src="{{ question.author.avatar.url }}" class="image-format mb-2" alt="...">
        {% include 'likes.html' with type="question" pk=question.pk rating=question.rating %}
	</div>
	<div class="media-body px-1">
		<a href="{% url 'question' pk=question.id %}" class="h5 mt-0">{{ question.title }}</a>
		<p>{{ question.text }}</p>
		<div class="row">
            <div class ="text-dark mr-1">
                tags:
            </div>
            {% for tag in question.tags.all %}
                <a href="{% url 'tag_questions' tag.id %}" class="text-dark mr-1"> {{ tag.tag_name }} </a>
            {% endfor %}
		</div>
	</div>
</div>